# compiled output
dist/
tmp/
out-tsc/
__build__

scratch.js

package-lock.json

# dependencies
node_modules/

# Config files
.env*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
__snapshots__/

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log
npm-debug.log
testem.log
typings/

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store
Thumbs.db
.vscode/settings.json
